<% include header %>
<% include navigation %>
  <!-- Bootstrap container -->
  <div class="container">
    <button id="query1" class="btn btn-default">graph query1</button>
    <% include viz %>
  </div><!-- /.container -->
<% include footer %>
