<% include header %>
<% include navigation %>
  <!-- Bootstrap container -->
  <div class="container">
    <button id="loadExampleData" class="btn btn-default">visualize /data/example.json</button>
    <% include viz %>
  </div><!-- /.container -->
<% include footer %>
